.container{
    font-family: 'Ubuntu', sans-serif;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.caption{
    font-weight: 700;
    color:#1792d2;
    font-size: 1rem;
    margin: 0;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}